@font-face {
    font-family: "Poppins Regular";
    src: url("../fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
    font-family: "Poppins Extra Bold";
    src: url("../fonts/Poppins/Poppins-ExtraBold.ttf");
}

@font-face {
    font-family: "Poppins Medium";
    src: url("../fonts/Poppins/Poppins-Medium.ttf");
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Poppins Regular";
    color: #1A1A1A;
}

#navContainer{
    font-family: "Poppins Medium";
    padding: 2%;
}

#navContainer li, nav li{
    list-style: none;
}

#bannerSection{
    padding: 2%;
}

.slogan{
    font-family: "Poppins Extra Bold";
    color: #05976A;
    font-size: 1.5rem;
}

.banner-header{
    font-family: "Poppins Medium";
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 0.02em;
    text-align: left;
}

.banner-message{
    font-family: "Poppins Regular";
    font-size: 1rem;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0.02em;
    text-align: left;
}

#banner-sticker{
    position: absolute;
    top: 40%;
    left: 60%;
}

#pageContents{
    margin-top: 5%;
    background-color: #eee;
    padding: 5% 2%;
}

#experience{
    position: relative;
    background-image: url('../images/experience.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
    padding: 7% 4%;
}

.letter-spacing{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.36em;
    text-align: left;
}

#services, #whyus, #how_it_works, #testimonials{
    padding-top: 7%;
    padding-bottom: 7%;
}

#footer{
    padding-top: 2%;
    padding-bottom: 7%;
}

#how_it_works{
    position: relative;
    background-image: url('../images/how_it_works.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
    padding: 7% 4%;
}

#dashboardNav{
    height: 100vh;
}

.gray-bg{
    background-color: #eee;
}

.green-bg{
    background-color: #05976A;
}

.white-text{
    color: #fff;
}

.green-text{
    color: #05976A;
}

.yellow-text{
    color: #FFFF00;
}

.red-text{
    color: #FF0000;
}

.gray-text{
    color: #888888;
}

.input_box{
    border: 1px solid #05976A;
    padding-left: 4%;
    padding-right: 4%;
    width: 100%;
    height: 50px;
    background-color: #fff;
    font-size: 90%;
    border-radius: 5px;
}

*:focus {
    outline: none;
}

.table-container {
    overflow-x: auto;
    max-width: 100%; /* Adjust as needed */
}

.plan_input_box{
    border: 1px solid #eee;
    padding-left: 2%;
    padding-right: 2%;
    width: 96%;
    height: 50px;
    font-size: 90%;
    border-radius: 5px;
}

.submit_box{
    background-color: #05976A;
    padding: 3%;
    text-align: center;
    width: 100%;
    color: #eee;
    border-radius: 10px;
}

#signUpIcon{
    width: 289px; 
    height: 174px;
}

#loginIcon{
    width:285; 
    height:192px;
}

.wallet-icon{
    width: 142px; 
    height: 44px;
}

.balance{
    font-size: 20px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.02em;
    text-align: left;
}

.yus-border-bottom{
    border-bottom: 1px solid #888888;
}

.yus-text-red{
    color: red;
}

/* Loader  */
.round-loader{
    position : relative;
    height : 50px;
    width : 50px;
    border-radius : 50%;
    border : 2px solid #ccc;
    overflow : hidden;
    animation: rotation 1s infinite linear;
}

.round-loader:before{
    content : "";
    height : 10px;
    width : 10px;
    border-radius : 50%;
    position : absolute;
    top: 12px;
    left: 12px;
    background-color : #05976A;
    
}

.round-loader:after{
    content : ".";
    height : 5px;
    width : 5px;
    border-radius : 50%;
    position : absolute;
    top: 5px;
    left: 38px;
    background-color : #1A1A1A;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: end;
    font-size : 26px;
}

@keyframes rotation {
    from {transform: rotate(0deg)}
    to {transform: rotate(359deg)}
}
/* End of Loader  */

/* Modal  */

/* The Modal (background) */
.yus_modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 300; /* Sit on top */
    padding-top: 2%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.yus_modal-content {
    background-color: #fefefe;
    margin: 2% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
    .yus_close{
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.yus_close:hover, .yus_close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/* End of Modal  */

@media only screen and (max-width:768px)
{
    
    .banner-header{
        font-size: 1rem;
        font-weight: 600;
        line-height: 20px;
        margin-top: 6%;
        letter-spacing: 0.02em;
    }   

    .yus-mt{
        margin-top: 5%;
        margin-bottom: 5%;
    }

    #testimonials{
        margin-top: 5%;
        margin-bottom: 5%;
    }

    #signUpIcon{
        width: 219px; 
        height: 104px;
        margin-left: auto;
        margin-top: 4%;
    }

    #loginIcon{
        width:215; 
        height:112px;
        margin-left: auto;
        margin-top: 4%;
    }

    
    .wallet-icon{
        width: 102px; 
        height: 44px;
    }

    .input_box{
        border: 1px solid #05976A;
        background-color: #fff;
    }

    .submit_box{
        padding: 5%;
        font-size: 80%;
        border-radius: 5px;
    }

    .yus-margin-bottom{
        margin-bottom: 8%;
    }

    .yus_modal-content {
        margin: 2% auto;
        padding: 10px;
        width: 90%;
    }

    #nav-bottom{
        position: fixed;
        width: 100%;
        left: 0px;
        bottom: 0px;
        background: #05976A;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
        z-index: 200;
    }

    .yus_icons_center{
        margin: 3px auto;
    }
    
}